<!DOCTYPE html>
{% load node_tags %}

<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>hostname_conf</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

{% include "header.html" %}

<div class="panel panel-default">
    <!-- Default panel contents -->

    <div class="panel-heading">
        <h3>
            配置选项
        </h3>
        <div class="panel-body">

            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>虚拟机名简写</th>
                    <th>对应所在业务</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/static/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>